.item-content {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 15%);
    /* grid-column-gap: 20px; */
    padding: 20px 0;
    color: white;
    gap: 20px 20px;

    .computer-items {
        background-color: rgb(19, 19, 19);
        height: 300px;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        .computer-img {
            width: 100%;
            height: 55%;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .computer-text {
            overflow: hidden;
            width: 100%;
            height: 15%;
            text-align: center;
            font-size: 16px;

            &:hover {
                cursor: pointer;
            }
        }

        .computer-price {
            height: 15%;
            line-height: 50px;
            text-align: center;
            color: red;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .computer-cart {
            height: 7%;
            border-radius: 15px;
            margin: 0 20px;
            background-color: #1071ac;
            padding: 0 10px;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}